{% extends 'layout/application.html' %}
{% block content %}
    <script type="text/javascript">
        navButtons = [
            "<button class=\"nvButton Green\" onmousedown=\"window.location='/'\" style=\"float: right;\">Finish</button>",
            "<button class=\"nvButton\" onmousedown='showNewUserDialog()' style=\"float: right;\">New User</button>"]
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/keyboard.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toastify.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <script src="{{url_for('static', filename='javascript/paginate.min.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/keyboard.js')}}" defer></script>
    <script src="{{url_for('static', filename='javascript/keyboard_init.js')}}" defer></script>

    <h1 >User Management</h1>
    <div style="width: 95%; margin-left:auto;margin-right:auto;height:85%; overflow: auto;text-align:left;">
        <table class="myTable table hover">
            <tbody>
                <tr>
                    <th>User</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Designation</th>
                    <th>Team/Ward</th>
                    <th>Action</th>
                </tr>
                {% for user in users %}
                <tr>
                        <td>{{user.get("_id")}}</td>
                        <td>{{user.get("name")}}</td>
                        <td>{{user.get("role")}}</td>
                        <td>{{user.get("designation")}}</td>
                        <td>{{user.get("ward", user.get("team"))}}</td>
                        <td>
                            <button class='displayButton lightGreen' onmousedown="window.location='/user/{{user.get('_id')}}/reset_password'">Reset Password</button>
                            {% if user.get("status") == "Active" %}
                                <button class="displayButton red" onmousedown="window.location='/user/{{user.get('_id')}}/deactivate'">Deactivate</button>
                            {% else %}
                                <button class="displayButton green" onmousedown="window.location='/user/{{user.get('_id')}}/activate'">Reactivate</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="userModal" class="modalDialog">
        <div>
            <div style="height: 89%; overflow-y: auto;overflow-x: hidden;">
                <form id="regForm" method="post" action="/user/create">
                    <div class="tab">
                        <h2>User Details</h2>
                        <h3>Full Name</h3>
                        <input type="text" placeholder="Full name" name="name" minlength="6"  id="default" class="input" value="{{
                      request.form.lname }}" required style="width: 90%; font-size : 18pt;border-radius:5px;height: 7vh;">
                        <h3>Username</h3>
                              <input type="text" placeholder="Username" minlength="6" name="username" id="input3" class="input" value="{{
          request.form.username }}" required style="width: 90%; font-size : 18pt;border-radius:5px;height: 7vh;">
                      <h3>Password</h3>
                     <input type="password" placeholder="Password" name="password" minlength="6"  id="input4" class="input" value="{{
                      request.form.password }}" required style="width: 90%; font-size : 18pt;border-radius:5px;height: 7vh;">
                            <div class="simple-keyboard" style="width: 99%; border: 1px solid silver;margin-top: 2vh;"></div>
                    </div>
                    <div class="tab">
                        <h2>User Role</h2>
                        <ul>
                            <li>
                                <input type="radio" id="clinicalOfficer" value="Clinical Officer" name="role"  onchange="filterDesignations('doc')">
                                <label for="clinicalOfficer">Clinical Officer</label>
                                <div class="check"></div>
                            </li>
                            <li>
                                <input type="radio" id="doctor" value="Doctor" name="role"  onchange="filterDesignations('doc')">
                                <label for="doctor">Doctor</label>
                                <div class="check"></div>
                            </li>
                            <li>
                                <input type="radio" id="nurse" value="Nurse" name="role" onchange="filterDesignations('nurse')">
                                <label for="nurse">Nurse</label>
                                <div class="check"></div>
                            </li>
                            <li>
                                <input type="radio" id="student" value="Student" name="role" onchange="filterDesignations('student')">
                                <label for="student">Student</label>
                                <div class="check"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab">
                        <h2>User Desgination</h2>
                        <ul>
                            <li data-id="doc" name="designationOptions">
                                <input type="radio" id="co" value="Clinical Officer" name="designation"  onchange="filterAllocation('medical')">
                                <label for="co">Clinical Officer</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="doc" name="designationOptions">
                                <input type="radio" id="consultant" value="Consultant" name="designation"  onchange="filterAllocation('medical')">
                                <label for="consultant">Consultant</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="student" name="designationOptions">
                                <input type="radio" id="clinicalStudent" value="Student Clinical Officer" name="designation"  onchange="filterAllocation('medical')">
                                <label for="clinicalStudent">Clinical Officer Student</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="doc" name="designationOptions">
                                <input type="radio" id="intern" value="Intern" name="designation" onchange="filterAllocation('medical')">
                                <label for="intern">Intern</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="nurse" name="designationOptions">
                                <input type="radio" id="matron" value="Matron" name="designation" onchange="filterAllocation('nursing')">
                                <label for="matron">Matron</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="nurse" name="designationOptions">
                                <input type="radio" id="nurseRole" value="Nurse" name="designation" onchange="filterAllocation('nursing')">
                                <label for="nurseRole">Nurse</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="doc" name="designationOptions">
                                <input type="radio" id="registrar" value="Registrar" name="designation" onchange="filterAllocation('medical')">
                                <label for="registrar">Registrar</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="nurse" name="designationOptions">
                                <input type="radio" id="nurse-ic" value="Nurse In-Charge" name="designation" onchange="filterAllocation('nursing')">
                                <label for="nurse-ic">Nurse in-charge</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="student" name="designationOptions">
                                <input type="radio" id="nurse-student" value="Nursing Student" name="designation" onchange="filterAllocation('nursing')">
                                <label for="nurse-student">Nursing Student</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="student" name="designationOptions">
                                <input type="radio" id="mbbs-student" value="Medical Student" name="designation" onchange="filterAllocation('medical')">
                                <label for="mbbs-student">Medical Student</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="doc" name="designationOptions">
                                <input type="radio" id="visitingDoc" value="Visiting Doctor" name="designation" onchange="filterAllocation('medical')">
                                <label for="visitingDoc">Visiting Doctor</label>
                                <div class="check"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab">
                        <h2>Allocation</h2>
                        <ul>
                            <li data-id="medical" name="allocationOptions">
                                <input type="radio" id="short_stay" value="MSS" name="team" >
                                <label for="short_stay">Short Stay</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="medical" name="allocationOptions">
                                <input type="radio" id="opd" value="OPD" name="team" >
                                <label for="opd">OPD</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="medical" name="allocationOptions">
                                <input type="radio" id="team_a" value="A" name="team" >
                                <label for="team_a">Team A</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="medical" name="allocationOptions">
                                <input type="radio" id="team_b" value="B" name="team" >
                                <label for="team_b">Team B</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="medical" name="allocationOptions">
                                <input type="radio" id="team_c" value="C" name="team" >
                                <label for="team_c">Team C</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="medical" name="allocationOptions">
                                <input type="radio" id="team_d" value="D" name="team" >
                                <label for="team_d">Team D</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="nursing" name="allocationOptions">
                                <input type="radio" id="4a" value="4A" name="wardAllocation" >
                                <label for="4a">Medical Female Ward</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="nursing" name="allocationOptions">
                                <input type="radio" id="mhdu" value="MHDU" name="wardAllocation" >
                                <label for="mhdu">Medical HDU</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="nursing" name="allocationOptions">
                                <input type="radio" id="4b" value="4B" name="wardAllocation" >
                                <label for="4b">Medical Male Ward</label>
                                <div class="check"></div>
                            </li>
                            <li data-id="nursing" name="allocationOptions">
                                <input type="radio" id="mss" value="MSS" name="wardAllocation" >
                                <label for="mss">Medical Short Stay</label>
                                <div class="check"></div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div style="height: 12%; margin-top: 1vh;border: 1px solid silver; padding:10px; border-radius: 0px 0px 5px 5px">
                <table style="width:100%;">
                    <tr>
                        <td>
                            <a href="#close" title="Close" ><button type="button" class="modalNVButton red">Cancel</button></a>
                        </td>
                        <td style="text-align: center;">
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </td>
                        <td style="text-align: right">
                            <button type="button" id="prevBtn" class="modalNVButton" onclick="nextPrev(-1)">Previous</button>
                            <button type="button" id="nextBtn" class="modalNVButton green" onclick="nextPrev(1)">Next</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        /*let options = {
            numberPerPage:8, //Cantidad de datos por pagina
            goBar:false, //Barra donde puedes digitar el numero de la pagina al que quiere ir
            pageCounter:true, //Contador de paginas, en cual estas, de cuantas paginas
        };
        paginate.init('.myTable',options);
*/
        var currentTab = 0; // Current tab is set to be the first tab (0)
        function showNewUserDialog(){
            window.location='{{request.url.split("?")[0]}}#userModal'
            showTab(0); // Display the current tab
        }

        function filterDesignations(id) {
            var options = document.getElementsByName("designationOptions");
            for (var i = 0, length = options.length; i < length; i++) {
                if (options[i].dataset.id != id) {
                    options[i].style.display = "none";
                } else {
                    options[i].style.display = "block";
                }
            }
        }

        function filterAllocation(classification){
            var options = document.getElementsByName("allocationOptions");
            for (var i = 0, length = options.length; i < length; i++) {
                if (options[i].dataset.id != classification) {
                    options[i].style.display = "none";
                } else {
                    options[i].style.display = "block";
                }
            }
        }
     </script>
{% endblock %}
