{% extends 'layout/application.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div style="margin-left: auto;margin-right: auto;width: 95%; border: 1px solid silver;padding: 1%;margin-top:5vh;">
      <h1>Please login</h1>
      <form action="/login" name="loginForm" method="post">
          <h3>Username</h3>
        <input type="text" placeholder="Username" name="username" id="default" class="input" value="{{
          request.form.username }}" required style="width: 90%; font-size : 18pt;border-radius:5px;height: 7vh;">
          <h3>Password</h3>
         <input type="password" placeholder="Password" required name="password"  id="input2" class="input" style="width: 90%; font-size : 18pt;border-radius:5px;height: 7vh;">
      </form>
        <p class="error" id="errorField" style="font-size: 12pt;">
            {% if error %}
            <strong>Error:</strong> {{ error }}
            {% endif %}
        </p>
    </div>
    <div class="simple-keyboard" style="margin-left: auto;margin-right: auto;width: 95%; border: 1px solid silver;margin-top: 2vh;">

    </div>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/keyboard.css') }}">
    <script src="{{url_for('static', filename='javascript/keyboard.js')}}" defer></script>
    <script src="{{url_for('static', filename='javascript/keyboard_init.js')}}" defer></script>
<script>
    function validateLogin() {
        var username = document.getElementById("default");
        var password = document.getElementById("input2");

        if(username.value.length <1)
        {
            username.className += " invalid";
            document.getElementById('errorField').innerHTML = "Please enter a username."
            return
        }

        if(password.value.trim().length <1)
        {
            username.className += " invalid";
            document.getElementById('errorField').innerHTML = "Please enter a password."
            password.className += " invalid";

            return
        }
        Spinner.show()
        document.loginForm.submit()
    }
    navButtons = ["<button class=\"nvButton red\" onmousedown=\"window.location='/login'\" style=\"float: left;\">Cancel</button>",
        "<button class=\"nvButton green\" onmousedown='validateLogin()' style=\"float: right;\">Login</button>"]

</script>

{% endblock %}
