{% extends 'layout/application.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/keyboard.css') }}">
<script src="{{url_for('static', filename='javascript/keyboard.js')}}" defer></script>
<script src="{{url_for('static', filename='javascript/keyboard_init.js')}}" defer></script>

<div style="width:90%; margin-left:auto;margin-right:auto;">
    <h2>Update User Password</h2>
    <form method="POST" action="/user/{{ username}}/update_password" name="passwordUpdate">
        <h3>Password</h3>
       <input type="password" placeholder="Enter new password" name="password" minlength="6"  id="default" class="input" required
              style="width: 100%; font-size : 18pt;border-radius:5px;height: 7vh;">
        <h3>Confirm Password</h3>
              <input type="password" placeholder="Confirm password" minlength="6" name="confirm_password" id="input2" class="input"  required
                     style="width: 100%; font-size : 18pt;border-radius:5px;height: 7vh;">
    </form>
    <p class="error" id="errorField" style="font-size: 12pt;">
        {% if error %}
        <strong>Error:</strong> {{ error }}
        {% endif %}
    </p>
    <div class="simple-keyboard" style="width: 99%; border: 1px solid silver;margin-top: 5vh;"></div>
</div>
<script type="text/javascript">
    navButtons = ["<button class=\"nvButton red\" onmousedown=\"window.location='/'\" style=\"float: left;\">Cancel</button>",
        "<button class=\"nvButton green\" onmousedown='validatePasswords()' style=\"float: right;\">Update</button>"]

        function validatePasswords(){
            var password = document.getElementById("default")
            var confirmPassword = document.getElementById("input2")
           if(password.value.length < 6)
           {
                document.getElementById("errorField").innerHTML = "Passwords must have at least 6 characters.";
           }
           else if(password.value != confirmPassword.value ){
               document.getElementById("errorField").innerHTML = "Passwords do not match.";
           }
           else{
               document.passwordUpdate.submit()
           }
        }
</script>

{% endblock %}
