<div class="maintab">
  <button class="maintablinks" onclick="showMainTab(event, 'myOrders')" id="defaultOpen">My Orders</button>
  <!-- <button class="maintablinks" onclick="showMainTab(event, 'teamOrders')">My Team's Orders</button> !-->
  <button class="maintablinks" onclick="showMainTab(event, 'preferences')">My Preferences</button>
</div>

<div id="myOrders" class="maintabcontent">
  {%  for i in orders %}
          <div class = "mainButtons" onmousedown="Spinner.show();choosePath('{{i.get('patient_id')}}','{{i.get('id')}}', '{{i.get('status')}}')">
              <span style="font-weight:bold; font-size: 1.25em ;">{{i.get('name')}}</span>
              <div style="display: table-row; ">
                  <div style="display: table-cell; ">Test Ordered</div>
                  <div style="display: table-cell;padding-left:1vw; padding-right:1vw;">:</div>
                  <div style="display: table-cell;">{{i.get('test') }}</div>
              </div>
                <div style="display: table-row;padding: 20px; ">
                  <div style="display: table-cell">Ordered On</div>
                  <div style="display: table-cell;padding-left:1vw; padding-right:1vw;">:</div>
                  <div style="display: table-cell">{{i.get('ordered_on')}}</div>
              </div>
              <div style="display: table-row; ">
                  <div style="display: table-cell;">Test Status</div>
                  <div style="display: table-cell;padding-left:1vw; padding-right:1vw;">:</div>
                  <div style="display: table-cell">{{i.get('status')}}</div>
              </div>
          </div>
      {% endfor %}
</div>
<!--
<div id="teamOrders" class="maintabcontent">
   {%  for i in team_records %}
          <div class = "mainButtons" onmousedown="Spinner.show();choosePath('{{i.get('patient_id')}}','{{i.get('id')}}', '{{i.get('status')}}')">
              <span style="font-weight:bold; font-size: 1.25em ;">{{i.get('name')}}</span>
              <div style="display: table-row; ">
                  <div style="display: table-cell; ">Test Ordered</div>
                  <div style="display: table-cell;padding-left:1vw; padding-right:1vw;">:</div>
                  <div style="display: table-cell;">{{i.get('test')}}</div>
              </div>
              <div style="display: table-row;padding 20px; ">
                  <div style="display: table-cell">Ordered by</div>
                  <div style="display: table-cell;padding-left:1vw; padding-right:1vw;">:</div>
                  <div style="display: table-cell">{{i.get('ordered_by')}}</div>
              </div>
              <div style="display: table-row;padding: 20px; ">
                  <div style="display: table-cell">Ordered On</div>
                  <div style="display: table-cell;padding-left:1vw; padding-right:1vw;">:</div>
                  <div style="display: table-cell">{{i.get('ordered_on')}}</div>
              </div>
              <div style="display: table-row; ">
                  <div style="display: table-cell;">Test Status</div>
                  <div style="display: table-cell;padding-left:1vw; padding-right:1vw;">:</div>
                  <div style="display: table-cell">{{i.get('status')}}</div>
              </div>
          </div>
      {% endfor %}
</div>
!-->
<div id="preferences" class="maintabcontent">
    <div style="display: table; padding-top: 10px;padding-left: 10px;margin-left: auto;margin-right: auto;">
        <div style="display: table-row">
            <div style="display: table-cell;width: 15vw;text-align: center;padding:5%;" onmousedown="Spinner.show();window.location='/user/{{ session['user']['username']}}/update_password'">
                <img src="/assets/images/change_password.png">
            </div>
            <div style="display: table-cell;width: 15vw;text-align: center;padding:5%;" onmousedown="Spinner.show();window.location='/'">
                <img src="/assets/images/score_card.png">
            </div>
        </div>
        <div style="display: table-row">
            <div style="display: table-cell;text-align: center;font-size: 1.4em;padding:5%;" onmousedown="Spinner.show();window.location='/user/{{ session['user']['username']}}/update_password'">
                Change Password
            </div>
            <div style="display: table-cell;text-align: center;font-size: 1.4em;padding:5%;" onmousedown="Spinner.show();window.location='/'">
                My Score Card
            </div>
        </div>
    </div>
</div>
