<input type="radio" name="tabs" id="tabone" checked="checked">
  <label for="tabone">Pending Orders</label>
  <div class="tab">
      {%  for i in orders %}
          <div class = "mainButtons" onmousedown="window.location='/patient/{{i.get('patient_id')}}'">
              <span style="font-weight:bold; font-size: 1.25em ;">{{i.get('name')}}</span>
              <div style="display: table-row; ">
                  <div style="display: table-cell; ">Test Ordered</div>
                  <div style="display: table-cell;padding-left:1vw; padding-right:1vw;">:</div>
                  <div style="display: table-cell;">{{i.get('test')[0]["_id"]}}</div>
              </div>
                <div style="display: table-row;padding: 20px; ">
                  <div style="display: table-cell">Ordered On</div>
                  <div style="display: table-cell;padding-left:1vw; padding-right:1vw;">:</div>
                  <div style="display: table-cell">{{i.get('ordered_on')}}</div>
              </div>
              <div style="display: table-row; ">
                  <div style="display: table-cell;">Test Status</div>
                  <div style="display: table-cell;padding-left:1vw; padding-right:1vw;">:</div>
                  <div style="display: table-cell">{{i.get('status')}}</div>
              </div>
          </div>
      {% endfor %}
  </div>
