{% extends 'layout/application.html' %}

{% block body %}

<div class="header">
    <table style="width: 100%;">
        <tr>
            <td rowspan="2"><img src="/assets/images/appIcon.png" style="height: 5vh; width: 5vw;"></td>
            <td><b>Facility</b></td>
            <td>:</td>
            <td><i>Kamuzu Central Hospital</i></td>
            <td><b>User</b></td>
            <td>:</td>
            <td><i>{{ session["user"]["current_user"] }}</i></td>
        </tr>
        <tr>
            <td><b>Department</b></td>
            <td>:</td>
            <td><i>{{ session["location"] }}</i></td>
            <td><b>Role</b></td>
            <td>:</td>
            <td><i>{{ session["user"]["rank"] }}</i></td>
        </tr>
    </table>
</div>
<div style="display: table-row;margin-top: 4vh !important;">
    <div style="display: table-cell;">
        <img src="/assets/images/2D_barcode.png" style="height: 4vh; width: 7vw;"> <br/>
        <img src="/assets/images/barcode.png" style="height: 4vh; width: 7vw;">
    </div>
    <div style="display: table-cell">
        <input type="text" id="barcode" size="15" style="height: 8vh; vertical-align: middle;font-size:40px;">
    </div>
</div>
<br/>
<div class="tabs">
    {% include
    'main/_nurse_view.html' if session.get('user').get('role') == 'Nurse'  else  'main/_doctor_view.html' %}

    <input type="radio" name="tabs" id="tabthree">
    <label for="tabthree">My Preferences</label>
    <div class="tab"><h1>User Preferences</h1></div>
</div>

<script type="text/javascript">
    navButtons = [["Logout", "window.location='/login'", "Red", "Left"],
        ["Change Location", "window.location='/select_location'", "lightGreen", "Right"]]

    setTimeout(initializeListener(), 3000);
</script>

{% endblock %}
