{% extends 'layout/patient.html' %}
{% block body %}
<h2>Recent Lab Tests</h2>
<div style="border: 1px solid silver; padding: 10px;">
    <div style="border:2px solid #0094ff;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;border-top-left-radius:6px;border-top-right-radius:6px;width: 100%;margin-left: auto;margin-right:auto;font-size:12pt;">
    <h2 style="color:#fff;margin:0;background-color:#0094ff;font-size:14pt; padding: 15px;font-weight: bold;">
        Renal Function Test (20 December 2019)
    </h2>
    <div style="padding: 10px">
        <table style="width: 100%;margin-left: auto; margin-right: auto;border-collapse: collapse; line-height: 5vh;" >
            <tr>
                <th style="height: 50px;border: 1px solid black;">Measure</th>
                <th style="height: 50px;border: 1px solid black;">Value</th>
                <th style="height: 50px;border: 1px solid black;">Range</th>
            </tr>
            <tr>
                <td style="  border: 1px solid black;font-weight: bold;padding-left: 10px;">Creatinine </td>
                <td style="  border: 1px solid black;text-align: center;">0.95</td>
                <td style="  border: 1px solid black;text-align: center;">0.70 - 1.30</td>
            </tr>
            <tr>
                <td style="  border: 1px solid black;font-weight: bold;padding-left: 10px;">Urea </td>
                <td style="color: red;border: 1px solid black;text-align: center;">63.1 <span style='color: red; font-size: 2em;font-weight: bold;'>&#8593;</span></td>
                <td style="border: 1px solid black;text-align: center;">18.00 - 55.00</td>
            </tr>
        </table>

    </div>
  </div>
</div>



{% endblock %}
