{% extends 'layout/application.html' %}
{% block content %}
    <script type="text/javascript">
        navButtons = [
            "<button class=\"nvButton green\" onmousedown=\"window.location='/'\" style=\"float: right;\">Finish</button>",
            "<button class=\"nvButton\" onmousedown='showOrderDialog()' style=\"float: right;\">New Test</button>"
        ]

        {% if  pending_orders != [] %}
            navButtons.push("<button class=\"nvButton\" onmousedown='showDrawDialog()' style=\"float: right;\">Draw Samples</button>")
        {% endif %}
     </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/keyboard.css') }}">
    <script src="{{url_for('static', filename='javascript/keyboard.js')}}" defer></script>
    <script src="{{url_for('static', filename='javascript/keyboard_init.js')}}" defer></script>
    <div class="header">
        <table style="width:100%;">
            <tr>
                <td rowspan="2">
                    {% if (pt_details.get('gender').lower() == 'm' or pt_details.get('gender').lower() == 'male') %}
                        <img src="/assets/images/male.png" >
                    {% else %}
                        <img src="/assets/images/female.png" >
                    {% endif %}
                </td>
                <td><b>Patient Name</b></td>
                <td>:</td>
                <td><i>{{pt_details.get('name')}}</i></td>
                <td><b>Age</b></td>
                <td>:</td>
                <td><i>{{ pt_details.get('age') }}</i></td>
            </tr>
            <tr>
                <td><b>Patient ID</b></td>
                <td>:</td>
                <td><i>{{ pt_details.get('id') }}</i></td>
                <td><b>DOB</b></td>
                <td>:</td>
                <td><i>{{ pt_details.get('birth_date') }}</i></td>
            </tr>
        </table>
    </div>
    <h2>Recent Lab Tests</h2>
    <div style="border: 1px solid silver; padding: 10px;height:65vh; overflow:auto;" class="header">
        {% for row in tests%}
            <div style="border:2px solid #07575B;border-radius:6px;width: 100%;margin:1% auto;font-size:12pt;">
            <div style="color:#fff;margin:0;background-color:#003B46;font-size:14pt; padding: 15px;font-weight: bold;" onmousedown="toggleDisplay('{{row['id']}}', '{{row['status']}}')">
                <div style="display: table-row;">
                    <div style="display: table-cell;width: 100%;">{{row['test_name']}}</div>
                    <div style="display: table-cell;">&nbsp;</div>
                </div>
                <div style="display: table-row;">
                    <div style="display: table-cell;width: 100%;">Ordered On: {{ row['date_ordered'] }}</div>
                    <div style="display: table-cell;" id="{{row['id']}}-status">View</div>
                </div>
                {% if row.get("type") == "test"%}
                    <div style="display: table-row;">
                        <div style="display: table-cell;width: 100%;">Current Status: {{row['status']}}</div>
                        <div style="display: table-cell;">&nbsp;</div>
                    </div>
                {% endif %}
                <div style="display: table-row;">
                    <div style="display: table-cell;width: 100%;">Ordered By: {{ row['ordered_by'] }}</div>
                    <div style="display: table-cell;">&nbsp;</div>
                </div>
            </div>
             <div id='{{row["id"]}}' style="padding: 10px" hidden="False">
                 {% if row.get("type") == "test"%}
                    {% if row['status'] == "Analysis Complete" or row['status'] == "Reviewed" %}
                        <table style="width: 100%;margin-left: auto; margin-right: auto;border-collapse: collapse; line-height: 5vh;" >
                            <tr>
                                <th style="height: 50px;border: 1px solid black;width:30%;">Measure</th>
                                <th style="height: 50px;border: 1px solid black;">Value</th>
                                <th style="height: 50px;border: 1px solid black;width:20%;">Range</th>
                            </tr>
                            {% for measure in row.get("measures").items() %}
                                <tr>
                                    <td style="border: 1px solid black;font-weight: bold;padding-left: 10px;">{{measure[0]}} </td>
                                    <td style="border: 1px solid black;text-align: center;">
                                        {% if measure[1]["interpretation"] == "High" %}
                                                <span style='color: red; font-size: 2em;font-weight: bold;'>&#8593;</span><span style='color: red;'>{{measure[1]["value"]}}</span>
                                        {% elif measure[1]["interpretation"] == "Low" %}
                                                <span style='color: red; font-size: 2em;font-weight: bold;'>&#8595;</span><span style='color: red;'>{{measure[1]["value"]}}</span>
                                        {% else %}
                                            {{measure[1]["value"]}}

                                        {% endif %}
                                    </td>
                                    <td style="border: 1px solid black;text-align: center;">{{measure[1]["range"]}} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% elif row['status'] == "Ordered" %}
                        <b>Test Priority: </b>{{row.get("priority")}}<br><br>
                        <b>Clinical History: </b>{{row.get("history", "")}}<br><br>
                        <b>Order Status:</b>{{row.get("status")}}<br>
                     {% elif row['status'] == "Specimen Collected" %}
                        <b>Test Priority: </b>{{row.get("priority")}}<br><br>
                        <b>Clinical History: </b>{{row.get("history", "")}}<br><br>
                        <b>Order Status:</b>{{row.get("status")}}<br><br>
                        {% if row.get("collection_id") == "" %}
                            <button onmousedown="window.location='/test/{{row.get('id')}}/reprint'">Re-print Barcode</button>
                        {% else %}
                            <button onmousedown="window.location='/test/{{row.get('collection_id')}}/reprint'">Re-print Barcode</button>
                        {% endif %}
                     {% elif row['status'] == "Specimen Received" %}
                        <b>Test Priority: </b>{{row.get("priority")}}<br><br>
                        <b>Clinical History: </b>{{row.get("history", "")}}<br><br>
                        <b>Order Status:</b>{{row.get("status")}}<br>
                     {% elif row['status'] == "Being Analyzed" or row['status'] == "Pending Verification" %}
                        <b>Test Priority: </b>{{row.get("priority")}}<br><br>
                        <b>Clinical History: </b>{{row.get("history", "")}}<br><br>
                        <b>Order Status:</b>{{row.get("status")}}<br>
                     {% elif row['status'] == "Rejected" or row['status'] == "Specimen Rejected" or row['status'] == "Test Rejected" or row['status'] == "Not Done"%}
                        <b>Test Priority: </b>{{row.get("priority")}}<br><br>
                        <b>Clinical History: </b>{{row.get("history", "")}}<br><br>
                        <b>Reason for rejection:</b>{{row.get("rejection_reason", "")}}<br>
                    {% endif %}
                 {% else %}
                    {% for test in row.get("panel_test_details").keys()%}
                        <b>{{row["panel_test_details"][test]["test_name"]}}</b>
                        <table style="width: 100%;margin-left: auto; margin-right: auto;border-collapse: collapse; line-height: 5vh;" >
                            <tr>
                                <th style="height: 50px;border: 1px solid black;width:30%;">Measure</th>
                                <th style="height: 50px;border: 1px solid black;">Value</th>
                                <th style="height: 50px;border: 1px solid black;width:20%;">Range</th>
                            </tr>
                            {% for measure in row.get("panel_test_details")[test]["measures"].items() %}
                                <tr>
                                    <td style="border: 1px solid black;font-weight: bold;padding-left: 10px;">{{measure[0]}} </td>
                                    <td style="border: 1px solid black;text-align: center;">
                                        {% if measure[1]["interpretation"] == "High" %}
                                                <span style='color: red; font-size: 2em;font-weight: bold;'>&#8593;</span><span style='color: red;'>{{measure[1]["value"]}}</span>
                                        {% elif measure[1]["interpretation"] == "Low" %}
                                                <span style='color: red; font-size: 2em;font-weight: bold;'>&#8595;</span><span style='color: red;'>{{measure[1]["value"]}}</span>
                                        {% else %}
                                            {{measure[1]["value"]}}
                                        {% endif %}
                                    </td>
                                    <td style="border: 1px solid black;text-align: center;">{{measure[1]["range"]}} </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <br/>
                    {% endfor %}
                    {% if row.get("status") == "Specimen Collected"%}
                        <button onmousedown="window.location='/test/{{row.get('id')}}/reprint'">Re-print Barcode</button>
                    {% endif %}
                 {% endif %}
             </div>
        </div>
        {% endfor %}
    </div>

    <div id="sampleDrawContent" hidden>
        <div class="Table">
            <div class="Title">
                Sample Collection
                <div style="float: right;" onmousedown=hideDialog('#close')>
                    <img style="vertical-align: middle;" src="/assets/images/cancel.png" onmousedown=hideDialog('#close')>
                </div>
            </div>
            <div class="Heading">
                <div class="TitleCell">
                    <p>Specimen Type</p>
                </div>
                <div class="TitleCell">
                    <p>Test</p>
                </div>
                <div class="TitleCell">
                    <p>Min Vol.</p>
                </div>
                <div class="TitleCell">
                    <p>Container</p>
                </div>
                <div class="TitleCell">
                    <p>Action</p>
                </div>
            </div>
            {% for test in pending_orders %}
            <div class="Row">
                <div class="Cell">
                    <p>{{test["specimen_type"]}}</p>
                </div>
                <div class="Cell">
                    <p>{{test["test_name"]}}</p>
                </div>
                <div class="Cell" style="text-align: center">
                    <p>{{test["volume"]}} {{test["units"]}}</p>
                </div>
                <div class="Cell" style="text-align: center">

                    <img style="vertical-align: middle;height:12vh;max-width:15vw;" src="/assets/images/{{containers[test['container']]}}">
                </div>
                <div class="Cell">
                    <button class="modalNVButton" onmousedown="Spinner.show();window.location='/test/{{test['test_id']}}/collect_specimen'">
                        Draw Sample
                    </button>
                </div>
            </div>
           {% endfor %}
        </div>
    </div>
    <div id="orderModal" class="modalDialog">
        <div>
            <div style="height: 17%; border: 1px solid silver; padding:5px; border-radius: 5px 5px 0px 0px">
                <span  style="font-weight:bold;font-size: 20pt;">Laboratory Test Order</span><hr/>
                <table style="width:80%;text-align: ">
                    <tr>
                        <td >Patient</td><td>:</td>
                        <td>{{ pt_details.get('name') }}</td>
                    </tr>
                    <tr>
                        <td >Ordered By</td><td>:</td>
                        <td>{{current_user['current_user']}}</td>
                    </tr>
                    <tr>
                        <td>Order Date</td><td>:</td>
                        <td>{{now}}</td>
                    </tr>
                </table>
            </div>
            <div style="height: 70%; overflow-y: auto;overflow-x: hidden;">
            <form id="regForm" method="post" action="/test/create">
                <!-- One "tab" for each step in the form: -->
                <div class="tab">
                    <h2>Select specimen type for test(s)</h2>
                    <ul>
                        {% for i in specimen_types%}
                            <div style="display: table-row;">
                                <div style='display: table-cell; vertical-align: center;'>
                                    <li>
                                        <input type='radio' id='type-{{i[0][1]}}' value="{{i[0][1]}}" required name='specimen_type' onchange="filterTests('type-{{i[0][1]}}')">
                                        <label for='type-{{i[0][1]}}'>{{i[0][0]}}</label>
                                        <div class='check'></div>
                                    </li>
                                </div>
                                <div style='display: table-cell;'>
                                        {% if  (i[1]  == undefined ) %}
                                            &nbsp;
                                        {% else %}
                                            <li>
                                                <input type='radio' id='{{i[1][1]}}' value="{{i[1][1]}}" required name='specimen_type' onchange="filterTests('type-{{i[0][1]}}')">
                                                <label for='{{i[1][1]}}'>{{i[1][0]}}</label>
                                                <div class='check'></div>
                                            </li>
                                        {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab">
                    <h2>Select test(s) to be performed:</h2>
                    <ul>
                        {% for test_panel in panel_options %}
                           <li data-id="{{(',').join(test_panel[1]['specimen_types'])}}" id="test-panel-{{test_panel[1]['name']}}-container" name="testOptions">
                                    <input type="checkbox" required id="test-{{test_panel[1]['name']}}" value="|{{test_panel[1]['name']}}|" name="test_type[]">
                                    <label for="test-{{test_panel[1]['name']}}">{{ test_panel[1]['name'] }}</label>
                                    <div class="select"></div>
                           </li>
                        {% endfor %}
                        {% for test in test_options%}
                           <li data-id="{{(',').join(test[1]['specimen_types']) }}" id="test-{{test[0]}}-container" name="testOptions">
                                    <input type="checkbox" required id="test-{{test[0]}}" value="{{test[0]}}" name="test_type[]">
                                    <label for="test-{{test[0]}}">{{ test[1]['name']}}</label>
                                    <div class="select"></div>
                                </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if session.get('user').get('role') in ['Nurse', 'Student']  %}
                    <div class="tab">
                    <h2>Select person who ordered test(s)</h2>
                    <ul>
                        {% for i in doctors%}
                                <li>
                                    <input type='radio' id='type-{{i[1]}}' value="{{i[1]}}" required name='ordered_by' >
                                    <label for='type-{{i[1]}}'>{{i[0]}}</label>
                                    <div class='check'></div>
                                </li>
                        {% endfor %}
                    </ul>
                </div>
                {% else %}
                    <input type="hidden" name='ordered_by' value={{session["user"]['username']}} >
                {% endif %}
                <div class="tab">
                    <h2>Enter Clinical Information/History</h2>
                    <div>
                    <input type="text" placeholder="Clinical history" name="clinical_history" id="input20" class="input" value="{{
                      request.form.clinical_history }}" maxlength="{{ch_length}}" required style="width: 90%; font-size : 18pt;border-radius:5px;height: 7vh;">
                        <span style="font-weight:500;font-size:14pt;">Max Char : {{ch_length}}</span>
                    </div>

                    <div class="simple-keyboard" style="width: 99%; border: 1px solid silver;margin-top: 2vh;"></div>
                </div>
                <div class="tab">
                    <h2>Select priotity for test(s)</h2>
                    <ul>
                        <li>
                            <input type="radio" id="routine" value="Routine" name="priority" checked>
                            <label for="routine">Routine</label>
                            <div class="check"></div>
                        </li>
                        <li>
                            <input type="radio" id="stat" value="Stat" name="priority">
                            <label for="stat">Stat</label>
                            <div class="check"></div>
                        </li>
                    </ul>
                </div>
                <div class="tab">
                    <h2>Collect specimen now?</h2>
                    <ul>
                        <li>
                            <input type="radio" id="collect_now" value="Collect Now" name="sampleCollection" checked>
                            <label for="collect_now">Yes</label>
                            <div class="check"></div>
                        </li>
                        <li>
                            <input type="radio" id="collect_later" value="Collect Later" name="sampleCollection">
                            <label for="collect_later">No</label>
                            <div class="check"></div>
                        </li>
                    </ul>
                </div>
                <input type="hidden" name="patient_name" value={{pt_details.get('name')}} >
                <input type="hidden" name="patient_id" value={{pt_details.get('id')}} >
            </form>
        </div>
            <div style="height: 12%; margin-top: 1vh;border: 1px solid silver; padding:10px; border-radius: 0px 0px 5px 5px">
                <table style="width:100%;">
                    <tr>
                        <td>
                            <a href="#close" title="Close" ><button type="button" class="modalNVButton red">Cancel</button></a>
                        </td>
                        <td style="text-align: center;">
                            <span class="step"></span>
                            <span class="step"></span>
                           {% if session.get('user').get('role') in ['Nurse', 'Student']  %}
                                <span class="step"></span>
                            {% endif %}
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </td>
                        <td style="text-align: right">
                            <button type="button" id="prevBtn" class="modalNVButton" onclick="nextPrev(-1)">Previous</button>
                            <button type="button" id="nextBtn" class="modalNVButton green" onclick="nextPrev(1)">Next</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script>
        selected =null
        isNurse = "{{ session.get('user').get('role') in ['Nurse', 'Student'] }}"
        function toggleDisplay(id, test_status){
            var state= {true: "View", false: "Hide"}
            div = document.getElementById(id)
            var status = div.hidden;
            div.hidden = !status;
            document.getElementById(id+"-status").innerHTML = state[!status]
            if ((test_status == "Analysis Complete" || test_status == "Rejected") && (isNurse == "False")){
                testReviewed(id)
            }
        }

        var currentTab = 0; // Current tab is set to be the first tab (0)
        function showOrderDialog(){
            window.location='{{request.url.split("?")[0]}}#orderModal'
            showTab(0); // Display the current tab
        }

        function showDrawDialog(){
            document.getElementById("modalContent").innerHTML = document.getElementById("sampleDrawContent").innerHTML
            window.location='{{request.url}}#openModal'
        }

        function filterTests(id){

            var radios = document.getElementsByName('specimen_type');
            var specimen_type = null
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    // do whatever you want with the checked radio
                    specimen_type = radios[i].value
                    // only one radio can be logically checked, don't check the rest
                    break;
                }
            }
            var options = document.getElementsByName('testOptions');
            for (var i = 0, length = options.length; i < length; i++) {
                if (!options[i].dataset.id.split(',').includes(specimen_type)){
                    options[i].style.display= "none";
                }
                else {
                    options[i].style.display= "block";
                }
            }
        }

        function testReviewed(id){
            var xhr = new XMLHttpRequest();
            var url = "/test/"+id+"/review_ajax";
            xhr.open("GET", url, true);
            xhr.setRequestHeader("Content-Type", "application/text");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log(xhr.responseText);
                }
            };
            xhr.send();
        }

        function waitForKeyboard() {
            if(typeof keyboard !== 'undefined' ) {
                keyboard.options.maxLength["default"] = {{ch_length}}
                return;
            }
            else {
                setTimeout(function() {
                    waitForKeyboard();
                }, 2000);
            }
        }
        waitForKeyboard()
    </script>
{% endblock %}
