<html>
    <head>
        <title>RROE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/application.css') }}">
        <script src="{{url_for('static', filename='javascript/application.js')}}"></script>
    </head>
    <body >
        <div style="height: 5vh; background-color: #011A27;color:#fef;font-weight:bold;font-size:13pt;top:0px;">
            <div style="display:table; width: 100%;">
                <div style="display: table-row; ">
                    <div style="display: table-cell">
                        <img src="/assets/images/appIcon.png" style="height: 5vh; width: 5vw;">
                    </div>
                    <div style="display: table-cell; vertical-align: middle;text-align:center;width: 100%;">
                        <a href="/login" style="text-decoration: none;font-weight:bold; color: #fff">Results Review and Order Entry System</a>
                    </div>
                    <div style="display: table-cell; vertical-align:middle;padding-right: 3px;">
                            {{now}}
                    </div>
                    <div style="display: table-cell; vertical-align:middle;padding-right: 3px;">
                        <div style="border: 2px solid grey; height: 3vh;width:6vw;">
                            <div style="width:{{current_power}}%" class="{{power_class}}">
                                {% if charging %}
                                <span style="padding-left:45%;font-weight:bold;">&#9889;</span>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <div class="mainDiv">
            {% block body %}
            {% endblock %}
        </div>
        <div class="nvBar footer" id= "navFooter" style="text-align: left;">&nbsp;</div>
        <div id="openModal" class="modalDialog">
                    <div id="modalContent">
                    </div>
        </div>
    </body>

    {% if requires_keyboard  %}
        <script src="{{url_for('static', filename='javascript/keyboard.js')}}" ></script>
        <script src="{{url_for('static', filename='javascript/keyboard_init.js')}}" ></script>
    {% endif %}
    <script type="text/javascript">
       document.onreadystatechange = function () {
          if (document.readyState == "interactive") {
                       addNavButtons()
          }
        }
       {% if collect_samples  %}
            showDrawDialog()
        {% endif %}
        idleTimer()
     </script>
</html>
